* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root {
    --mdviolet: hsl(263, 55%, 52%);
    --ltviolet: #a775f1;
    --vdkgrayblue: hsl(217, 19%, 35%);
    --vdkblackblue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --ltgray: hsl(0, 0%, 81%);
    --ltgrayblue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: var(--ltgrayblue);
    color: var(--white);
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 335px);
    grid-template-rows: repeat(1, auto);
    max-width: 1100px;
    margin: 5rem auto;
    place-content: center;
    column-gap: 2rem;
    row-gap: 1.5rem;
}


.card-1 {

    background-color: var(--mdviolet);
}

.card-1>* {
    padding-bottom: 1rem;
}

.card-2 {
    background-color: var(--vdkgrayblue);
}

.card-2>* {
    padding-bottom: 1rem;
}

.card-3 {
    background-color: var(--white);
    color: var(--vdkgrayblue);
}

.card-3>* {
    padding-bottom: 1.75rem;
}


.card-4 {
    background-color: var(--vdkblackblue);
}

.card-4>* {
    padding-bottom: 1rem;
}

.card-5 {
    background-color: var(--white);
    color: var(--vdkgrayblue);
}

.card-5>* {
    padding-bottom: 1rem;
}

.upper {
    display: flex;
}

.title h3 {
    font-size: 0.85rem;
    font-weight: 300;
}

.title h4 {
    font-size: 0.75rem;
    font-weight: 300;
    opacity: 50%;
}

.offer {
    position: relative;
}

.offer h2 {
    opacity: 90%;
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
}

.offer img {
    position: absolute;
    height: 7rem;
    width: 7rem;
    transform: translate(10.5rem, -14rem);
}

.qoute {
    opacity: 70%;
    line-height: 1.5;
    padding-bottom: 0;
    /* color: var(--ltgrayblue); */
    font-size: 0.85rem;
    /* font-weight: 300; */
}

.image {
    background-color: var(--ltviolet);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0.1rem;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.card-2 .image {
    background-color: transparent;
}

.card-3 .image {
    background-color: transparent;
}

.card-5 .image {
    background-color: transparent;
}

.title {
    align-self: center;
    margin-left: 1rem;
}

.card {
    border-radius: 0.5rem;
    padding: 1.75rem 1.75rem 1.75rem 2.15rem;
    box-shadow: 0 8px 14px 4px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .card-1 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .card-2 {
        grid-column: 3;
    }

    .card-3 {
        grid-column: 1 / 2;
    }

    .card-4 {
        grid-column: 2 / 4;
    }

    .card-5 {
        grid-column: 4;
        grid-row: 1 / 3;
    }

    .offer h2 {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .offer img {
        transform: translate(18.5rem, -9.5rem);
    }

    .qoute {
        line-height: 1.5;
        font-size: 0.8rem;
    }

}


/* Footer */
.attribution {
    font-size: 16px;
    text-align: center;
    color: var(--vdkblackblue);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}